<div class="account-dashboard">
  <div class="container" *ngIf="user$ | async as user">
    <!-- Profile Header -->
    <div class="profile-header premium-card">
      <div class="profile-avatar">
        <img *ngIf="user.picture && !imageError" [src]="user.picture" alt="" class="avatar-image" (error)="onImageError()">
        <div *ngIf="!user.picture || imageError" class="avatar-circle">{{ user.avatar }}</div>
      </div>
      <div class="profile-info">
        <h1>{{ user.name }}</h1>
        <p class="profile-email">{{ user.email }}</p>
        <span *ngIf="user.isGoogleUser" class="google-badge">
          <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" width="14">
          Google Account
        </span>
        <button mat-raised-button class="btn btn-outline" routerLink="/account/profile">
          <mat-icon>edit</mat-icon>
          Edit Profile
        </button>
      </div>
    </div>

    <!-- Tabs Navigation -->
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="account-tabs">
      <a mat-tab-link *ngFor="let link of links"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{ link.label }}
      </a>
    </nav>

    <div class="tab-content">
      <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
      </mat-tab-nav-panel>
    </div>
  </div>
</div>

